*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  outline: 0 !important; }

label {
  display: block; }

.main {
  margin-top: 40px;
  padding: 40px; }

.shortcuts li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 5rem; }
  .shortcuts li .icon {
    font-size: 35px;
    display: block;
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid #ccc;
    background: #eee;
    border-radius: 5px; }
  .shortcuts li a:hover {
    text-decoration: none; }
  .shortcuts li a {
    display: block; }

.shortcuts li:hover .icon {
  background: #ddd;
  border-color: #2A6496; }

.nav .icon {
  margin-right: 10px; }

.page-header {
  margin-bottom: 5rem; }

.form-inline {
  margin-bottom: 1rem; }

.tab-navigation {
  margin-bottom: 3rem; }

.glyphicon:hover {
  color: #2A6496; }

.pages-interface #content .title {
  cursor: pointer;
  font-weight: bold;
  display: block; }

.pages-interface #content .area {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px; }
  .pages-interface #content .area .content {
    margin-top: 10px;
    display: block; }
  .pages-interface #content .area .block {
    background: #fdfdfd;
    padding: 10px 25px;
    border: 1px solid #ddd;
    margin-bottom: 20px; }
    .pages-interface #content .area .block .submit_wrapper {
      margin: 20px 0; }
    .pages-interface #content .area .block .content {
      display: none;
      padding-top: 15px;
      border-top: 1px solid #EEE;
      background: #FFF none repeat scroll 0% 0%;
      margin-top: 20px; }
  .pages-interface #content .area .child-block {
    background: rgba(170, 170, 170, 0.5);
    border: 1px solid #F8857D; }
    .pages-interface #content .area .child-block .title {
      cursor: default; }
  .pages-interface #content .area .opening-status {
    float: right; }

.pages-interface #content .child-area {
  background: rgba(170, 170, 170, 0.5);
  border: 1px solid #F8857D; }
  .pages-interface #content .child-area > .title {
    cursor: default; }
  .pages-interface #content .child-area .disabled {
    float: right;
    color: #F8857D;
    margin: 5px 5px 0 0; }

.pages-interface #content .thumbnail .media-name {
  text-align: center;
  display: block;
  margin-top: 5px;
  font-weight: bold; }

.pages-interface #structure .title {
  font-weight: bold;
  display: block;
  min-height: 40px;
  line-height: 40px; }

.pages-interface #structure .area {
  text-align: center;
  padding: 10px; }
  .pages-interface #structure .area .area_color {
    overflow: hidden;
    min-height: 104px;
    background: #eee;
    border: 1px solid #ccc; }
  .pages-interface #structure .area .area-delete, .pages-interface #structure .area .area-update, .pages-interface #structure .area .area-create-block, .pages-interface #structure .area .area-move, .pages-interface #structure .area .area-display {
    cursor: pointer;
    float: right;
    margin: 10 5px 0 0; }
  .pages-interface #structure .area .child-area {
    background: rgba(170, 170, 170, 0.5);
    border: 1px solid #F8857D; }
    .pages-interface #structure .area .child-area .area-name {
      cursor: default; }
    .pages-interface #structure .area .child-area .disabled {
      float: right;
      color: #F8857D;
      margin: 5px 5px 0 0; }
  .pages-interface #structure .area .block {
    padding: 10px; }
    .pages-interface #structure .area .block .block_color {
      background: #fdfdfd;
      border: 1px solid #ddd; }
    .pages-interface #structure .area .block .submit_wrapper {
      margin: 20px 0; }
    .pages-interface #structure .area .block .block-delete, .pages-interface #structure .area .block .block-update, .pages-interface #structure .area .block .block-move, .pages-interface #structure .area .block .block-display, .pages-interface #structure .area .block .block-go-to-content {
      cursor: pointer;
      float: right;
      margin: 10px 5px 0 0; }
    .pages-interface #structure .area .block .child-block {
      background: rgba(170, 170, 170, 0.5);
      border: 1px solid #F8857D; }
      .pages-interface #structure .area .block .child-block .block-name {
        cursor: default; }
  .pages-interface #structure .area .area-hidden, .pages-interface #structure .area .block-hidden {
    color: #ccc; }
  .pages-interface #structure .area .area-name, .pages-interface #structure .area .block-name {
    cursor: move; }
  .pages-interface #structure .area .width_value {
    position: absolute;
    left: 22px;
    top: 22px;
    font-size: 11px;
    border-radius: 0px;
    background: #81B4CC;
    width: 19px;
    height: 17px;
    line-height: 17px;
    color: white;
    text-align: center; }

.pages-interface #structure .sortable-placeholder .area_color, .pages-interface #structure .sortable-placeholder .block_color {
  background: #8AB4D8 !important;
  height: 42px;
  line-height: 42px;
  overflow: hidden; }

.pages-interface #structure .block-form, .pages-interface #structure .area-form {
  display: none; }
  .pages-interface #structure .block-form .submit_wrapper, .pages-interface #structure .area-form .submit_wrapper {
    margin-bottom: 20px; }

.pages-interface span.type {
  font-size: 11px;
  color: #81B4CC;
  margin-left: 10px;
  padding: 2px 5px;
  background: #eee;
  border: 1px solid #ddd; }

.pages-interface .align-center {
  display: inline-block;
  float: none; }

.pages-interface .align-right {
  float: right; }

.menus-interface .items-order {
  float: left;
  clear: both;
  margin-top: 20px;
  width: 30%;
  margin-right: 3%; }

.menus-interface .menu_item {
  background: #eee;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  text-align: center; }
  .menus-interface .menu_item .title {
    font-weight: bold;
    display: block;
    min-height: 40px;
    line-height: 40px; }
    .menus-interface .menu_item .title .menu_item_label {
      cursor: pointer; }
  .menus-interface .menu_item .menu-item-delete, .menus-interface .menu_item .menu-item-update, .menus-interface .menu_item .menu-item-move, .menus-interface .menu_item .menu-item-display {
    cursor: pointer;
    float: right;
    margin: 5px 5px 0 0; }

.menus-interface .menu-item-form {
  width: 60%;
  float: left; }

.menus-interface .menu-item-hidden {
  color: #ccc; }

.menus-interface .sortable-placeholder {
  border: 1px solid #2A6496 !important;
  background: #8AB4D8 !important;
  height: 43px;
  line-height: 43px;
  overflow: hidden; }

.medias-list {
  overflow: hidden;
  margin-bottom: 30px; }
  .medias-list li {
    width: 200px;
    height: auto;
    list-style: none;
    float: left;
    margin: 20px 20px 0 0;
    position: relative; }
    .medias-list li .media-name {
      display: block;
      margin: 5px 0;
      text-align: center;
      font-weight: bold; }
    .medias-list li .media-delete {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 18px;
      color: white; }
  .medias-list li:hover .media-delete {
    display: block; }

.modal-full {
  width: 65%; }

.media-edit .media-thumbnail {
  width: 500px;
  margin-bottom: 20px; }
  .media-edit .media-thumbnail img {
    max-width: 100%;
    height: auto; }

.media-edit .media-name {
  width: 400px; }

.media-edit .media-path {
  width: 250px;
  display: inline-block;
  vertical-align: middle; }

.media-edit .media-format .media-format-image img {
  max-width: 100%;
  display: block; }

.media-edit .btn-file {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden; }

.media-edit .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

.thumbnail .media-name {
  text-align: center;
  display: block;
  margin-top: 5px;
  font-weight: bold; }
