/* line 1, ../sass/style.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/style.scss */
.main {
  margin-top: 40px;
  padding: 40px;
}

/* line 16, ../sass/style.scss */
.shortcuts li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 5rem;
}
/* line 22, ../sass/style.scss */
.shortcuts li .icon {
  font-size: 35px;
  display: block;
  margin-bottom: 10px;
  padding: 20px;
  border: 2px solid #ccc;
  background: #eee;
  border-radius: 5px;
}
/* line 34, ../sass/style.scss */
.shortcuts li a:hover {
  text-decoration: none;
}
/* line 38, ../sass/style.scss */
.shortcuts li a {
  display: block;
}
/* line 44, ../sass/style.scss */
.shortcuts li:hover .icon {
  background: #ddd;
  border-color: #2A6496;
}

/* line 53, ../sass/style.scss */
.nav .icon {
  margin-right: 10px;
}

/* line 58, ../sass/style.scss */
.page-header {
  margin-bottom: 5rem;
}

/* line 62, ../sass/style.scss */
.form-inline {
  margin-bottom: 1rem;
}

/* line 66, ../sass/style.scss */
.tab-navigation {
  margin-bottom: 3rem;
}

/* line 70, ../sass/style.scss */
.glyphicon:hover {
  color: #2a6496;
}

/* line 4, ../sass/_pages.scss */
.pages-interface #content .title {
  cursor: pointer;
  font-weight: bold;
  display: block;
}
/* line 10, ../sass/_pages.scss */
.pages-interface #content .area {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
/* line 16, ../sass/_pages.scss */
.pages-interface #content .area .content {
  margin-top: 10px;
  display: block;
}
/* line 21, ../sass/_pages.scss */
.pages-interface #content .area .block {
  background: #fdfdfd;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
/* line 27, ../sass/_pages.scss */
.pages-interface #content .area .block .submit_wrapper {
  margin: 20px 0;
}
/* line 31, ../sass/_pages.scss */
.pages-interface #content .area .block .content {
  display: none;
}
/* line 35, ../sass/_pages.scss */
.pages-interface #content .area .block .type {
  font-weight: normal;
  text-transform: uppercase;
}
/* line 41, ../sass/_pages.scss */
.pages-interface #content .area .child-block {
  background: rgba(170, 170, 170, 0.5);
  border: 1px solid #F8857D;
}
/* line 45, ../sass/_pages.scss */
.pages-interface #content .area .child-block .title {
  cursor: default;
}
/* line 50, ../sass/_pages.scss */
.pages-interface #content .area .opening-status {
  float: right;
}
/* line 55, ../sass/_pages.scss */
.pages-interface #content .child-area {
  background: rgba(170, 170, 170, 0.5);
  border: 1px solid #F8857D;
}
/* line 59, ../sass/_pages.scss */
.pages-interface #content .child-area > .title {
  cursor: default;
}
/* line 63, ../sass/_pages.scss */
.pages-interface #content .child-area .disabled {
  float: right;
  color: #F8857D;
  margin: 5px 5px 0 0;
}
/* line 72, ../sass/_pages.scss */
.pages-interface #content .thumbnail .media-name {
  text-align: center;
  display: block;
  margin-top: 5px;
  font-weight: bold;
}
/* line 83, ../sass/_pages.scss */
.pages-interface #structure .title {
  font-weight: bold;
  display: block;
  min-height: 40px;
  line-height: 40px;
}
/* line 91, ../sass/_pages.scss */
.pages-interface #structure .area {
  text-align: center;
  padding: 10px;
}
/* line 95, ../sass/_pages.scss */
.pages-interface #structure .area .area_color {
  overflow: hidden;
  min-height: 104px;
  background: #eee;
  border: 1px solid #ccc;
}
/* line 102, ../sass/_pages.scss */
.pages-interface #structure .area .area-delete, .pages-interface #structure .area .area-update, .pages-interface #structure .area .area-create-block, .pages-interface #structure .area .area-move, .pages-interface #structure .area .area-display {
  cursor: pointer;
  float: right;
  margin: 5px 5px 0 0;
}
/* line 108, ../sass/_pages.scss */
.pages-interface #structure .area .child-area {
  background: rgba(170, 170, 170, 0.5);
  border: 1px solid #F8857D;
}
/* line 112, ../sass/_pages.scss */
.pages-interface #structure .area .child-area .area-name {
  cursor: default;
}
/* line 116, ../sass/_pages.scss */
.pages-interface #structure .area .child-area .disabled {
  float: right;
  color: #F8857D;
  margin: 5px 5px 0 0;
}
/* line 123, ../sass/_pages.scss */
.pages-interface #structure .area .block {
  padding: 10px;
}
/* line 126, ../sass/_pages.scss */
.pages-interface #structure .area .block .block_color {
  background: #fdfdfd;
  border: 1px solid #ddd;
}
/* line 131, ../sass/_pages.scss */
.pages-interface #structure .area .block .submit_wrapper {
  margin: 20px 0;
}
/* line 135, ../sass/_pages.scss */
.pages-interface #structure .area .block .type {
  font-weight: normal;
  text-transform: uppercase;
}
/* line 140, ../sass/_pages.scss */
.pages-interface #structure .area .block .block-delete, .pages-interface #structure .area .block .block-update, .pages-interface #structure .area .block .block-move, .pages-interface #structure .area .block .block-display {
  cursor: pointer;
  float: right;
  margin: 5px 5px 0 0;
}
/* line 146, ../sass/_pages.scss */
.pages-interface #structure .area .block .child-block {
  background: rgba(170, 170, 170, 0.5);
  border: 1px solid #F8857D;
}
/* line 150, ../sass/_pages.scss */
.pages-interface #structure .area .block .child-block .block-name {
  cursor: default;
}
/* line 156, ../sass/_pages.scss */
.pages-interface #structure .area .area-hidden, .pages-interface #structure .area .block-hidden {
  color: #ccc;
}
/* line 160, ../sass/_pages.scss */
.pages-interface #structure .area .area-name, .pages-interface #structure .area .block-name {
  cursor: pointer;
}
/* line 166, ../sass/_pages.scss */
.pages-interface #structure .sortable-placeholder .area_color, .pages-interface #structure .sortable-placeholder .block_color {
  border: 1px solid #2a6496 !important;
  background: #8AB4D8 !important;
  height: 43px;
  line-height: 43px;
  overflow: hidden;
}
/* line 175, ../sass/_pages.scss */
.pages-interface #structure .block-form, .pages-interface #structure .area-form {
  display: none;
}
/* line 178, ../sass/_pages.scss */
.pages-interface #structure .block-form .submit_wrapper, .pages-interface #structure .area-form .submit_wrapper {
  margin-bottom: 20px;
}

/* line 3, ../sass/_menus.scss */
.menus-interface .items-order {
  float: left;
  clear: both;
  margin-top: 20px;
  width: 30%;
  margin-right: 3%;
}
/* line 11, ../sass/_menus.scss */
.menus-interface .menu_item {
  background: #eee;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  text-align: center;
}
/* line 17, ../sass/_menus.scss */
.menus-interface .menu_item .title {
  font-weight: bold;
  display: block;
  min-height: 40px;
  line-height: 40px;
}
/* line 24, ../sass/_menus.scss */
.menus-interface .menu_item .title .menu_item_label {
  cursor: pointer;
}
/* line 29, ../sass/_menus.scss */
.menus-interface .menu_item .menu-item-delete, .menus-interface .menu_item .menu-item-update, .menus-interface .menu_item .menu-item-move, .menus-interface .menu_item .menu-item-display {
  cursor: pointer;
  float: right;
  margin: 5px 5px 0 0;
}
/* line 36, ../sass/_menus.scss */
.menus-interface .menu-item-form {
  width: 60%;
  float: left;
}
/* line 41, ../sass/_menus.scss */
.menus-interface .menu-item-hidden {
  color: #ccc;
}
/* line 45, ../sass/_menus.scss */
.menus-interface .sortable-placeholder {
  border: 1px solid #2a6496 !important;
  background: #8AB4D8 !important;
  height: 43px;
  line-height: 43px;
  overflow: hidden;
}

/* line 1, ../sass/_medias.scss */
.medias-list {
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 6, ../sass/_medias.scss */
.medias-list li {
  width: 200px;
  height: auto;
  list-style: none;
  float: left;
  margin: 20px 20px 0 0;
  position: relative;
}
/* line 14, ../sass/_medias.scss */
.medias-list li .media-name {
  display: block;
  margin: 5px 0;
  text-align: center;
  font-weight: bold;
}
/* line 22, ../sass/_medias.scss */
.medias-list li .media-delete {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: white;
}
/* line 35, ../sass/_medias.scss */
.medias-list li:hover .media-delete {
  display: block;
}

/* line 41, ../sass/_medias.scss */
.modal-full {
  width: 65%;
}

/* line 46, ../sass/_medias.scss */
.media-edit .media-thumbnail {
  width: 500px;
  margin-bottom: 20px;
}
/* line 51, ../sass/_medias.scss */
.media-edit .media-thumbnail img {
  max-width: 100%;
  height: auto;
}
/* line 57, ../sass/_medias.scss */
.media-edit .media-name {
  width: 400px;
}
/* line 61, ../sass/_medias.scss */
.media-edit .media-path {
  width: 250px;
  display: inline-block;
  vertical-align: middle;
}
/* line 69, ../sass/_medias.scss */
.media-edit .media-format .media-format-image img {
  max-width: 100%;
  display: block;
}
/* line 76, ../sass/_medias.scss */
.media-edit .btn-file {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}
/* line 83, ../sass/_medias.scss */
.media-edit .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* line 2, ../sass/_blocks.scss */
.thumbnail .media-name {
  text-align: center;
  display: block;
  margin-top: 5px;
  font-weight: bold;
}
