/* line 1, ../sass/style.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/style.scss */
.main {
  margin-top: 40px;
  padding: 40px;
}

/* line 16, ../sass/style.scss */
.shortcuts li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 5rem;
}

/* line 24, ../sass/style.scss */
.page-header {
  margin-bottom: 5rem;
}

/* line 28, ../sass/style.scss */
.form-inline {
  margin-bottom: 1rem;
}

/* line 32, ../sass/style.scss */
.tab-navigation {
  margin-bottom: 3rem;
}

/* line 36, ../sass/style.scss */
.glyphicon:hover {
  color: #2a6496;
}

/* line 4, ../sass/_pages.scss */
.pages-interface #content .title {
  cursor: pointer;
  font-weight: bold;
  display: block;
}
/* line 10, ../sass/_pages.scss */
.pages-interface #content .area {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
/* line 16, ../sass/_pages.scss */
.pages-interface #content .area .content {
  margin-top: 10px;
  display: block;
}
/* line 21, ../sass/_pages.scss */
.pages-interface #content .area .block {
  background: #fdfdfd;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
/* line 27, ../sass/_pages.scss */
.pages-interface #content .area .block .submit_wrapper {
  margin: 20px 0;
}
/* line 31, ../sass/_pages.scss */
.pages-interface #content .area .block .content {
  display: none;
}
/* line 35, ../sass/_pages.scss */
.pages-interface #content .area .block .type {
  font-weight: normal;
  text-transform: uppercase;
}
/* line 45, ../sass/_pages.scss */
.pages-interface #structure .title {
  font-weight: bold;
  display: block;
  min-height: 40px;
  line-height: 40px;
}
/* line 53, ../sass/_pages.scss */
.pages-interface #structure .area {
  text-align: center;
  padding: 10px;
}
/* line 57, ../sass/_pages.scss */
.pages-interface #structure .area .area_color {
  overflow: hidden;
  min-height: 104px;
  background: #eee;
  border: 1px solid #ccc;
}
/* line 64, ../sass/_pages.scss */
.pages-interface #structure .area .area-delete, .pages-interface #structure .area .area-update, .pages-interface #structure .area .area-create-block, .pages-interface #structure .area .area-move, .pages-interface #structure .area .area-display {
  cursor: pointer;
  float: right;
  margin: 5px 5px 0 0;
}
/* line 70, ../sass/_pages.scss */
.pages-interface #structure .area .block {
  padding: 10px;
}
/* line 73, ../sass/_pages.scss */
.pages-interface #structure .area .block .block_color {
  background: #fdfdfd;
  border: 1px solid #ddd;
}
/* line 78, ../sass/_pages.scss */
.pages-interface #structure .area .block .submit_wrapper {
  margin: 20px 0;
}
/* line 82, ../sass/_pages.scss */
.pages-interface #structure .area .block .type {
  font-weight: normal;
  text-transform: uppercase;
}
/* line 87, ../sass/_pages.scss */
.pages-interface #structure .area .block .block-delete, .pages-interface #structure .area .block .block-update, .pages-interface #structure .area .block .block-move, .pages-interface #structure .area .block .block-display {
  cursor: pointer;
  float: right;
  margin: 5px 5px 0 0;
}
/* line 94, ../sass/_pages.scss */
.pages-interface #structure .area .area-hidden, .pages-interface #structure .area .block-hidden {
  color: #ccc;
}
/* line 100, ../sass/_pages.scss */
.pages-interface #structure .sortable-placeholder .area_color, .pages-interface #structure .sortable-placeholder .block_color {
  border: 1px solid #2a6496 !important;
  background: #8AB4D8 !important;
  height: 43px;
  line-height: 43px;
  overflow: hidden;
}
/* line 109, ../sass/_pages.scss */
.pages-interface #structure .block-form, .pages-interface #structure .area-form {
  display: none;
}
/* line 112, ../sass/_pages.scss */
.pages-interface #structure .block-form .submit_wrapper, .pages-interface #structure .area-form .submit_wrapper {
  margin-bottom: 20px;
}

/* line 3, ../sass/_menus.scss */
.menus-interface .items-order {
  float: left;
  clear: both;
  margin-top: 20px;
  width: 30%;
  margin-right: 3%;
}
/* line 11, ../sass/_menus.scss */
.menus-interface .menu_item {
  background: #eee;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  text-align: center;
}
/* line 17, ../sass/_menus.scss */
.menus-interface .menu_item .title {
  font-weight: bold;
  display: block;
  min-height: 40px;
  line-height: 40px;
}
/* line 25, ../sass/_menus.scss */
.menus-interface .menu_item .menu-item-delete, .menus-interface .menu_item .menu-item-update, .menus-interface .menu_item .menu-item-move, .menus-interface .menu_item .menu-item-display {
  cursor: pointer;
  float: right;
  margin: 5px 5px 0 0;
}
/* line 32, ../sass/_menus.scss */
.menus-interface .menu-item-form {
  width: 60%;
  float: left;
}
/* line 37, ../sass/_menus.scss */
.menus-interface .menu-item-hidden {
  color: #ccc;
}
/* line 41, ../sass/_menus.scss */
.menus-interface .sortable-placeholder {
  border: 1px solid #2a6496 !important;
  background: #8AB4D8 !important;
  height: 43px;
  line-height: 43px;
  overflow: hidden;
}
