.update-in-progress {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.75;
    background: #fff url("../img/spinner.gif") no-repeat center center;
    z-index: 9999999;
}

.media-folders, .medias {
    float: left;
}

.medias-list {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee;

    ul {
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;

        li {
            width: 200px;
            height: auto;
            list-style: none;
            float: left;
            margin: 20px 20px 0 0 !important;
            position: relative;

            .media-name {
                display: block;
                margin: 5px 0;

                text-align: center;
                font-weight: bold;
            }

            .media-delete {
                display: none;

                position: absolute;
                top: 10px;
                right: 10px;

                font-size: 18px;
                color: white;
            }

            .folder {
                width: 100%;
                height: 108px;
                display: block;
                background: #ededed;
                text-align: center;

                .folder-icon {
                    display: inline-block;
                    text-align: center;
                    font-size: 40px;
                    margin-top: 30px;
                    color: #fefefe;
                }
            }
        }

        li:hover {
            .media-delete {
                display: block;
            }

            .folder-icon {
                color: $blue;
            }
        }

        .ui-state-draggable-hover {
            .thumbnail {
                border: 1px solid orange;
            }

            .folder {
                background: #f0e5d0;

                .folder-icon {
                    color: orange;
                }
            }
        }

        .ui-draggable-dragging {
            opacity: 0.5;
        }
    }
}

.panel-create-folder {
    float: left;
    width:330px;
}

.panel-create-media {
    margin-right: 40px;
    float: left;
    width:330px;
}

.modal-full {
    width: 65%;
}

.media-edit {
	.media-thumbnail {
		width: 500px;

		margin-bottom: 20px;

		img {
			max-width: 100%;
			height: auto;
		}
	}	

	.media-name {
		width: 400px;
	}

	.media-path {
		width: 250px;
		display: inline-block;
		vertical-align: middle;
	}

	.media-format {
		.media-format-image {
			img {
				max-width:100%;
				display: block;
			}
		}
	}
}

.btn-file {
    display: inline-block;
    vertical-align: middle;

    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}