.pages-interface {

	#content {
		.title {
			cursor: pointer;
			font-weight: bold;
			display: block;
		}

		.area {
			background: #eee;
			padding: 10px 0 10px 10px;
			border: 1px solid #ccc;
			margin-bottom: 20px;

			.content {
				margin-top: 10px;
				display: block;
			}

			.block {
				background: #fdfdfd;
				padding: 10px 25px;
				border: 1px solid #ddd;
				margin-bottom: 20px;

				.submit_wrapper {
					margin: 20px 0;
				}

				.content {
					display: none;
                    padding-top: 15px;
                    border-top: 1px solid #EEE;
                    background: #FFF none repeat scroll 0% 0%;
                    margin-top: 20px;
				}
			}

			.child-block {
				background: rgba(#aaa, 5/10);
				border: 1px solid #F8857D;

				.title {
					cursor: default;
				}
			}

			.opening-status {
				float: right;
			}
		}

		.child-area {
			background: rgba(#aaa, 5/10);
			border: 1px solid #F8857D;

			> .title {
				cursor: default;
			}

			.disabled {
				float: right;
				color: #F8857D;
				margin: 5px 5px 0 0;
			}
		}

		.thumbnail {

			.media-name {
				text-align: center;
				display: block;
				margin-top: 5px;
				font-weight: bold;
			}
		}
	}

	#structure {

		.title {
			font-weight: bold;
			display: block;

			min-height: 40px;
			line-height: 40px;

            padding-right: 5px;
        }

		.area {
			text-align: center;
			padding: 10px;

			.area_color {
				overflow: hidden;
				min-height: 104px;
				background: #eee;
				border: 1px solid #ccc;
                padding-right: 10px;
			}

			.area-delete, .area-update, .area-create-block, .area-move, .area-display {
				cursor: pointer;
				float: right;
				margin: 10 5px 0 0;
			}

			.child-area {
				background: rgba(#aaa, 5/10);
				border: 1px solid #F8857D;

				.area-name {
					cursor: default;
				}

				.disabled {
					float: right;
					color: #F8857D;
					margin: 5px 5px 0 0;
				}
			}

			.block {
				padding: 10px 0 10px 10px;

				.block_color {
					background: #fdfdfd;
					border: 1px solid #ddd;
				}

				.submit_wrapper {
					margin: 20px 0;
				}

				.block-delete, .block-update, .block-move, .block-display, .block-go-to-content {
					cursor: pointer;
					float: right;
					margin: 10px 5px 0 0;
				}

				.child-block {
					background: rgba(#aaa, 5/10);
					border: 1px solid #F8857D;

					.block-name {
						cursor: default;
					}
				}
			}

			.area-hidden, .block-hidden {
				color: #ccc;
			}

			.area-name, .block-name {
				cursor: move;
			}

            .width_value {
                position: absolute;
                left: 22px;
                top: 22px;
                font-size: 11px;
                border-radius: 0px;
                background: #81B4CC;
                width: 19px;
                height: 17px;
                line-height: 17px;
                color: white;
                text-align: center;
            }
		}

		.sortable-placeholder {
			.area_color, .block_color {
				background: #8AB4D8 !important;
				height: 42px;
				line-height: 42px;
				overflow: hidden;
			}
		}

		.block-form, .area-form {
			display: none;

			.submit_wrapper {
				margin-bottom: 20px;
			}
		}
	}

    span.type {
        font-size: 11px;
        color: #81B4CC;
        margin-left: 10px;
        padding: 2px 5px;
        background: #eee;
        border: 1px solid #ddd;
    }

    .align-center {
        display: inline-block;
        float: none;
    }

    .align-right {
        float: right;
    }
}