*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
    outline: 0 !important;
}

label {
    display: block;
}

$blue: #2A6496;

.main {
	margin-top: 40px;
	padding: 40px;
}

.shortcuts {

	li {
		list-style: none;
		display: inline-block;
		text-align: center;
		margin-right: 5rem;

		.icon {
			font-size: 35px;
			display: block;
			margin-bottom: 10px;
			padding: 20px;

			border: 2px solid #ccc;
			background: #eee;

			border-radius: 5px;	
		}

		a:hover {
			text-decoration: none;
		}

		a {
			display: block;
		}
	}

	li:hover {
		.icon {
			background: #ddd;

			border-color: #2A6496;
		}
	}
}

.nav {
	.icon {
		margin-right: 10px;
	}
}

.page-header {
	margin-bottom: 5rem;
}

.form-inline {
	margin-bottom: 1rem;
}

.tab-navigation {
    margin-bottom: 3rem;
}

.glyphicon:hover {
	color: $blue;
}

@import "pages";
@import "menus";
@import "medias";
@import "blocks";
@import "vendor/_jquery-ui";