.pages-interface {
	
	#content {
		.title {
			cursor: pointer;
			font-weight: bold;
			display: block;
		}

		.area {
			background: #eee;
			padding: 10px;
			border: 1px solid #ccc;
			margin-bottom: 20px;

			.content {
				margin-top: 10px;
				display: block;
			}

			.block {
				background: #fdfdfd;
				padding: 10px;
				border: 1px solid #ddd;
				margin-bottom: 20px;

				.submit_wrapper {
					margin: 20px 0;
				}

				.content {
					display: none;
				}

				.type {
					font-weight: normal;
					text-transform: uppercase;
				}
			}
		}
	}

	#structure {

		.title {
			font-weight: bold;
			display: block;

			min-height: 40px;
			line-height: 40px;
		}

		.area {
			text-align: center;
			padding: 10px;
		
			.area_color {
				overflow: hidden;
				min-height: 104px;
				background: #eee;
				border: 1px solid #ccc;
			}

			.area-delete, .area-update, .area-create-block, .area-move, .area-display {
				cursor: pointer;
				float: right;
				margin: 5px 5px 0 0;
			}

			.block {
				padding: 10px;

				.block_color {
					background: #fdfdfd;
					border: 1px solid #ddd;
				}

				.submit_wrapper {
					margin: 20px 0;
				}

				.type {
					font-weight: normal;
					text-transform: uppercase;
				}

				.block-delete, .block-update, .block-move, .block-display {
					cursor: pointer;
					float: right;
					margin: 5px 5px 0 0;
				}
			}

			.area-hidden, .block-hidden {
				color: #ccc;
			}
		}

		.area-name, .block-name {
			cursor: pointer;
		}
		
		.sortable-placeholder {
			.area_color, .block_color {
				border: 1px solid $blue !important;
				background: #8AB4D8 !important;
				height: 43px;
				line-height: 43px;
				overflow: hidden;
			}
		}

		.block-form, .area-form {
			display: none;

			.submit_wrapper {
				margin-bottom: 20px;
			}
		}
	}
}