@media screen and (max-width: 480px) {
	
	.container {
		margin: 0;
		padding: 2rem;
	}

	a:hover {
		border-bottom: none;
	}

	nav {
		ul {
			li {
				height: 3rem;
				line-height: 3rem;
				width: 100%;
				float: none;
				background: $light-gray;
				text-align: center;
				margin-bottom: 1rem;

				a {
					color: white;	
				}
			}

			li:hover {
				background: $blue;

				a {
					color: white;
				}
			}

			.selected, .selected:hover {
				background: $light-gray;
				color: $dark-gray;
			}
		}
	}
}

@media screen and (max-width: 320px) {

}