@import "vendor/reset";

@import url(//fonts.googleapis.com/css?family=Lato);


/*
* VARIABLES
*/
$blue: #2E6CB1;
$dark-gray: #4A4A4A;
$light-gray: #F3EEED;

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/*
* STRUCTURE
*/
.content {
	
	.area {
		margin-bottom: 20px;
		
		.block {
			margin-bottom: 20px;
		}
	}
}